@import 'utils/variables';
@import 'base/body';
@import 'base/reset';

@import 'components/header/page-header-shadowed';
@import 'components/header/company-name';
@import 'components/header/site-nav';
@import 'components/header/contacts';

@import 'components/portfolio/button-list';
@import 'components/portfolio/portfolio-grid';
@import 'components/portfolio/projects';

@import 'components/footer/page-footer';
@import 'components/footer/company-name-inverse';
@import 'components/footer/company-adress';
@import 'components/footer/social-list';
@import 'components/footer/signup-form';
