body {
  font-family: $primary-text, $secondary-text, $reserve-text;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  letter-spacing: $primary-letter-spacing;
  color: $primary-text-color;
  background-color: getColor('primary');
}
